.body-scheme {
    flex: 1;
    background: rgb(12, 32, 57);
    width: 100%;
    border: 1px solid rgb(86, 160, 207);
    border-top: 3px solid rgb(86, 160, 207);
    position: relative;
    overflow: hidden;
    background-color: #656d9b;
}

.scheme1 {
    /* width: 100vh; */
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.zoom-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35vh;
    left: 10px;
    z-index: 10;
}
.zoomIn-button, .zoomOut-button, .zoomReset-button {
    width: 52px;
    height: 52px;
    filter:  opacity(80%);
    /* font-size: 15px; */
    font-weight: bold;
}

use:hover {
    filter: brightness(0.3) sepia(0.5) opacity(60%);
}

.table_plus {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 10;
}