/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
} */

.bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(80, 80, 0, 0.8);
}

.popup {
    background: #334;
    /* border-radius: 20px; */
    /* padding: 30px; */
}

.dialog-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    background: rgb(10, 25, 40);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: white;
    justify-content: space-between;
}

.header {
    padding: 0px 15px;
}